* {
  box-sizing: border-box;
}

html {
  color: var(--text-black);
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #cbeafd, #b3f2f4);
}

main {
  background: linear-gradient(135deg, #a88cf5, #ff9aa2);
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  gap: 20px;
  height: 100vh;
  overflow: hidden;
}

.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-right: auto;
  margin-left: auto;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid black;
  &:hover {
    border: 3px solid rgb(35, 145, 228);
  }
}

.btn {
  padding: 8px 16px;
  background: var(--primary);
  color: var(--text-white);
  font-weight: 600;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background: var(--primary-hover);
  color: var(--accent-orange);
}

.logo {
  width: 100%;
  border-radius: 100%;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}
