:root {
  --bg: #fefefe;
  --text-black: #1f1f1f;
  --text-white: #fff;
  --primary: #00c2cb;
  --primary-hover: #009fa8;
  --accent-red: #ff4e8a;
  --accent-orange: #ff6b6b;
  --accent-purple: #a88cf5;
  --accent-green: #5fd068;
  --accent-blue: #87cefa;
  --border-color: #e0e0e0;
  --card-bg: #ffffff;
  --hover-bg: #f2f2f2;
  --input-bg: #e5fcfd;
  --border: #ccc;
  --input-hover: #ca1b1bee;
}
